<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <title>EasyDocker For WSL2</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-icons.css">
</head>

<body>
    <div id="App" class="mx-4">
        <div class="alert alert-success" role="alert">{{ $t("loadImage.title")}}</div>
    
        <div class="row mb-3">
            <label class="col-sm-4 form-label">{{ $t("loadImage.filepath")}}</label>
            <div class="d-flex flex-row col-sm-8">
                <input class="form-control me-1" v-model="filePath" readonly>
                <button class="btn btn-primary bi-folder" v-on:click="selectFile()"></button>
                <div v-if="filePath_err" class="text-danger bi-exclamation-triangle">{{ $t("common.required")}}</div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-4 form-label">{{ $t("loadImage.imageTag")}}
                <span class="bi-question-circle-fill text-primary" data-bs-toggle="tooltip" data-bs-placement="right" v-bind:title='$t("loadImage.imageTag.help")'></span>
            </label>
            <div class="d-flex flex-row col-sm-8">
                <div>
                    <input type="text" class="form-control" v-model="repo"  style="width:8em">
                    <div v-if="repo_err" class="text-danger bi-exclamation-triangle">{{ $t("common.required")}}</div>
                </div>
                <div class="mx-3">:</div>
                <div>
                    <input type="text" class="form-control" v-model="tag"  style="width:8em">
                    <div v-if="tag_err" class="text-danger bi-exclamation-triangle">{{ $t("common.required")}}</div>
                </div>
            </div>
        </div>

        <div v-if="loadErr" class="alert alert-danger d-flex align-items-center" role="alert">
            <div class="bi-exclamation-triangle-fill fs-3 me-3"></div>
            <div>{{loadErr}}</div>
        </div>
        <div class="mb-3"></div>
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <button type="button" class="btn btn-secondary me-3" v-on:click="close()">{{
                        $t("common.cancel") }}</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" v-on:click="loadImage()">
                        <span class="bi-upload"></span>
                        <span class="spinner-border spinner-border-sm text-light d-none" id="spinner"></span>
                    </button>
                </div>
            </div>
        </div>
</div>
    <script src="js/vue.global.js"></script>
    <script src="js/vue-i18n.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/EasyDockerCommon.js"></script>
    <script src="js/loadImageApp.js"></script>
</body>

</html>